/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(68, 68, 68);
}

body{
    margin: 0;
}

button {
    /* background-color: #0465a5; */
    background-color: #0e89dc;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #7dc4f3;
}

input[type=text], input[type=password], input[type=number], select{
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form{
    margin: 20px;
    border: none;
    border-radius: 12px;
    background-color: #e2e2e2;
    padding: 20px;
    width: 20%;
    box-shadow: 3px 3px 3px 3px #888888;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tbody>tr:hover {
    background-color: #d8d8d8;
  }

.tableContainer{
    border: none;
    padding: 20px;
    margin: 10px;
    width: 80%;
}